.prodcateStyle_5{clear: both; width: 100%;overflow: hidden;}
.prodcateStyle_5 *{transition: all ease-out .2s; -webkit-transition: all ease-out .2s; -moz-transition: all ease-out .2s; -moz-transition: all ease-out .2s; -o-transition: all ease-out .2s; box-sizing: border-box;}
.prodcateStyle_5>ul>li>a, .prodcateStyle_5 .subCateUl>ul>li>a, .prodcateStyle_5 .subCateUl2>li>a{color: inherit; line-height: inherit; height: inherit; white-space: nowrap;}
.prodcateStyle_5 i{margin-left: 5px;}
.prodcateStyle_5>ul{width: 100%;background:#fff;overflow: hidden;}
.prodcateStyle_5>ul>li{float: left;padding:15px;font-size: 14px;color: #555;font-family: '宋体';text-align: center;}
.prodcateStyle_5>ul>li>a{padding: 10px;}


/*@media screen and (max-width:767px){*/
/*.prodcateStyle_5 i{display: none;}	*/
/*.prodcateStyle_5>ul{width: 100%;}*/
/*.prodcateStyle_5>ul>li{width: 100%; clear: both; font-size: 14px; line-height: 28px; color: #0da3b4; font-family: microsoft yahei; background: #fff; margin-bottom: 5px; border-bottom:1px solid #eee; padding: 0 10px;}*/
/*.prodcateStyle_5>ul>li:after{content: ''; display: block; clear: both;}*/
/*.prodcateStyle_5 .subCateUl{}*/
/*.prodcateStyle_5 .subCateUl>ul{overflow: hidden;}*/
/*.prodcateStyle_5 .subCateUl>ul>li{width: 100%; clear: both; font-weight: bold; font-size: 12px; line-height: 24px;}*/
/*.prodcateStyle_5 .subCateUl>ul>li>a{float: left; width: 25%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}*/
/*.prodcateStyle_5 .subCateUl2{float: left; width:75%;}*/
/*.prodcateStyle_5 .subCateUl2>li{float: left; margin-right: 5px; margin-bottom: 5px; font-size: 12px; line-height: 24px; padding: 0 6px; border-radius: 12px; background: #eee; color: #333;}*/

/*}*/