@charset "utf-8";
/* CSS Document */
.duotu_1_4{width:300px;}	
/*中图*/
.duotu_1_4 .bigimg{width:298px;height:298px;border:1px solid #dcdddd;}
.duotu_1_4 .bigimg li{ width:298px;height:298px;text-align:center;display:table;}
.duotu_1_4 .bigimg li span{vertical-align:middle;display:table-cell;}
.duotu_1_4 .bigimg li a{ margin:0px auto;}
/*左右按钮*/
.duotu_1_4 .smallscroll_1_4 { margin-top:6px;}
.duotu_1_4 .sprev{ width: 14px; height: 63px; float:left; display: block; background: url(../images/lr_btn_d.png) no-repeat 0 0;}
.duotu_1_4 .snext{ width: 14px; height: 63px; float:left; display: block; background: url(../images/lr_btn_d.png) no-repeat -14px 0;}	
/*小图*/
.duotu_1_4 .smaimg{width:268px; float:left; margin-left:4px;}
.duotu_1_4 .smaimg li{ width:63px; height:63px;float:left; cursor:pointer; display:inline; margin-right:4px;}
.duotu_1_4 .smaimg img{width:61px; height:61px; border: 1px solid #dcdddd;}	
.duotu_1_4 .smaimg li.on img{border-color:#C00C3E;}
/*
提醒：
如果想把列表小图移动到别的地方
1.把class="duotu_1_3"放到再上一级;
2.把.smallscroll_1_3的div放到你想的位置
*/
