@charset "utf-8";
/* CSS Document */
.duotu_2_4{width:369px;}
/*中图*/
.duotu_2_4 .bigimg{width:298px;height:298px; float:left; border:1px solid #dcdddd;}
.duotu_2_4 .bigimg li{ width:298px;height:298px;text-align:center;display:table;}
.duotu_2_4 .bigimg li span{vertical-align:middle;display:table-cell;}
.duotu_2_4 .bigimg li a{ margin:0px auto;}	
/*左右按钮*/
.duotu_2_4 .smallscroll_2_4{ width:63px;margin-left:6px; float:left;}
.duotu_2_4 .sprev{ width: 63px; height: 14px; display: block; background: url(../images/tb_btn_d.png) no-repeat 0 0;}
.duotu_2_4 .snext{ width: 63px; height: 14px; display: block; background: url(../images/tb_btn_d.png) no-repeat 0 -14px;}	
/*小图*/
.duotu_2_4 .smaimg{width:63px; margin-top:4px;}
.duotu_2_4 .smaimg li{ width:63px; height:63px;cursor:pointer; margin-bottom:4px;}
.duotu_2_4 .smaimg img{width:61px; height:61px; border: 1px solid #dcdddd;}	
.duotu_2_4 .smaimg li.on img{border-color:#C00C3E;}
/*
提醒：
如果想把列表小图移动到别的地方
1.把class="duotu_1_3"放到再上一级;
2.把.smallscroll_1_3的div放到你想的位置
*/
